<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.studentOA.mapper.StudentGradeMapper">

    <select id="countStudentGradeByGradeId" resultType="Integer">
        select count(tb_student_grade.student_grade_id) from tb_student_grade where tb_student_grade.student_grade_id = #{studentGradeId};
    </select>

    <delete id="deleteByStudentGradeId">
        delete from tb_student_grade where tb_student_grade.student_grade_id = #{studentGradeId};
    </delete>

    <select id="selectGradesByBatch" resultType="com.study.studentOA.entity.StudentGrade">
        SELECT * FROM tb_student_grade
        WHERE student_id IN
        <foreach collection="studentIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND course IN
        <foreach collection="courseNames" item="name" open="(" separator="," close=")">
            #{name}
        </foreach>
        ORDER BY student_id ASC
    </select>

</mapper>