<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.studentOA.mapper.CourseMapper">

    <select id="getCourseNameTypeCreditByName" resultType="com.study.studentOA.dto.CourseTypeCreditDTO">
        select tb_course.course_name, tb_course.type, tb_course.credit from tb_course where tb_course.course_name = #{courseName};
    </select>

    <select id="getCoursesFromSchoolYearSemester" resultType="com.study.studentOA.entity.Course">
        select * from tb_course where tb_course.school_year = #{schoolYear} and tb_course.semester = #{semester};
    </select>

    <select id="getCoursesBySemesterSchoolYearClassId" resultType="com.study.studentOA.entity.Course">
        select * from tb_course where tb_course.school_year = #{schoolYear} and tb_course.semester = #{semester} and tb_course.classes like concat('%', #{classId}, '%');
    </select>

    <select id="getCoursesByAllExceptCourseIdClasses" resultType="com.study.studentOA.entity.Course">
        select * from tb_course where tb_course.school_year = #{schoolYear} and tb_course.semester = #{semester}
        and tb_course.course_name = #{courseName} and tb_course.credit = #{credit} and tb_course.type = #{type}
    </select>

    <select id="getMaxId" resultType="Long">
        select max(course_id) from tb_course;
    </select>

    <select id="getCourseNameTypeCreditByNameSemesterSchoolYear" resultType="com.study.studentOA.dto.CourseTypeCreditDTO">
        select tb_course.course_name, tb_course.type, tb_course.credit from tb_course where tb_course.course_name = #{course} and tb_course.school_year = #{schoolYear} and tb_course.semester = #{semester} ;
    </select>

    <select id="getCoursesByCourseNameSchoolYearSemester" resultType="com.study.studentOA.entity.Course">
        select * from tb_course where tb_course.course_name = #{courseName} and tb_course.school_year = #{schoolYear} and tb_course.semester = #{semester};
    </select>

    <delete id="deleteByCourseSemesterSchoolYear">
        delete from tb_course where course_name = #{course} and semester = #{semester} and school_year = #{schoolYear};
    </delete>
</mapper>